/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

.container {
    margin-top: 5rem !important;
}
body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}


.navbar-nav-login{

    position: relative !important;
    left: 75% !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navbar-nav-login{
      
        left: 0 !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {

    .navbar-nav-login{
       
        left: 0 !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:810px) {

    .navbar-nav-login{
        left: 40% !important;
    }
}

@media only screen and (min-width: 810px) and (max-width:910px) {

    .navbar-nav-login{
        left: 50% !important;
    }
}

@media only screen and (min-width: 910px) and (max-width:1010px) {

    
    .navbar-nav-login{
        left: 60% !important;
    }
    
}
@media only screen and (min-width: 1010px) and (max-width:1238px) {
    
    .navbar-nav-login{
        left: 65% !important;
    }
}
